# Techniques to perform feature Tranformation:
1. Normalization (min max scaler) ---> Image type data use min/max
2. Standardization ------------------> Normally data science e Standardization use hoy
3. Log Transformation ----> (If the in data set has outlear, use Robust scaler)
4. Robust Scaler --------->(If the in data set has outlear, use Robust scaler)
5. Max Absolute Scaler

# 1. Normalization

In [1]:
import pandas as pd
df = pd.read_excel("Assignment 05 - Data set.xlsx")
df

   Price
0    110
1    105
2    115
3    120
4    110
5    130
6    150
7    100
8    105

In [2]:
# Normalization calculate manually
df['price_norm_manual'] = (df.Price - df.Price.min()) / (df.Price.max() - df.Price.min())
df

   Price  price_norm_manual
0    110                0.2
1    105                0.1
2    115                0.3
3    120                0.4
4    110                0.2
5    130                0.6
6    150                1.0
7    100                0.0
8    105                0.1

In [3]:
# Normalization calculate sklearn
from sklearn.preprocessing import MinMaxScaler
mmx = MinMaxScaler()
df['price_norm_sklearn'] = mmx.fit_transform(df[['Price']])
df

   Price  price_norm_manual  price_norm_sklearn
0    110                0.2                 0.2
1    105                0.1                 0.1
2    115                0.3                 0.3
3    120                0.4                 0.4
4    110                0.2                 0.2
5    130                0.6                 0.6
6    150                1.0                 1.0
7    100                0.0                 0.0
8    105                0.1                 0.1

# 2. Standardization

In [4]:
# Standardization calculate Manually
df['price_std_manual'] = (df['Price'] - df.Price.mean()) / df.Price.std(ddof=0)
df.head()

   Price  price_norm_manual  price_norm_sklearn  price_std_manual
0    110                0.2                 0.2         -0.416356
1    105                0.1                 0.1         -0.757011
2    115                0.3                 0.3         -0.075701
3    120                0.4                 0.4          0.264954
4    110                0.2                 0.2         -0.416356

In [5]:
# Standardization calculate sklearn
from sklearn.preprocessing import StandardScaler 
scaler = StandardScaler()

df['price_std_sklearn'] = scaler.fit_transform(df[['Price']])
df.head()

,Price,price_norm_manual,price_norm_sklearn,price_std_manual,price_std_sklearn
0,110,0.2,0.2,-0.416356,-0.416356
1,105,0.1,0.1,-0.757011,-0.757011
2,115,0.3,0.3,-0.075701,-0.075701
3,120,0.4,0.4,0.264954,0.264954
4,110,0.2,0.2,-0.416356,-0.416356

# 3. Log Transformation

In [9]:
# Log Transformation sklear
from sklearn.preprocessing import FunctionTransformer

ft = FunctionTransformer(np.log1p)
df['price_log_sklearn'] = ft.fit_transform(df[['Price']])
df

,Price,price_norm_manual,price_norm_sklearn,price_std_manual,price_std_sklearn,price_log_sklearn
0,110,0.2,0.2,-0.416356,-0.416356,4.709530
1,105,0.1,0.1,-0.757011,-0.757011,4.663439
2,115,0.3,0.3,-0.075701,-0.075701,4.753590
3,120,0.4,0.4,0.264954,0.264954,4.795791
4,110,0.2,0.2,-0.416356,-0.416356,4.709530
5,130,0.6,0.6,0.946264,0.946264,4.875197
6,150,1.0,1.0,2.308884,2.308884,5.017280
7,100,0.0,0.0,-1.097666,-1.097666,4.615121
8,105,0.1,0.1,-0.757011,-0.757011,4.663439

# 5. Max Absolute Scaler

In [10]:
from sklearn.preprocessing import MaxAbsScaler
mx = MaxAbsScaler()
df['price_maxabs_sklearn'] = mx.fit_transform(df[['Price']])
df.head()

,Price,price_norm_manual,price_norm_sklearn,price_std_manual,price_std_sklearn,price_log_sklearn,price_maxabs_sklearn
0,110,0.2,0.2,-0.416356,-0.416356,4.709530,0.733333
1,105,0.1,0.1,-0.757011,-0.757011,4.663439,0.700000
2,115,0.3,0.3,-0.075701,-0.075701,4.753590,0.766667
3,120,0.4,0.4,0.264954,0.264954,4.795791,0.800000
4,110,0.2,0.2,-0.416356,-0.416356,4.709530,0.733333

# 4.2 Power Transformer (box cox)

In [11]:
from scipy.stats import boxcox
df['box price'],_ = boxcox(df['Price']+1)
df

,Price,price_norm_manual,price_norm_sklearn,price_std_manual,price_std_sklearn,price_log_sklearn,price_maxabs_sklearn,box price
0,110,0.2,0.2,-0.416356,-0.416356,4.709530,0.733333,0.223686
1,105,0.1,0.1,-0.757011,-0.757011,4.663439,0.700000,0.223686
2,115,0.3,0.3,-0.075701,-0.075701,4.753590,0.766667,0.223686
3,120,0.4,0.4,0.264954,0.264954,4.795791,0.800000,0.223686
4,110,0.2,0.2,-0.416356,-0.416356,4.709530,0.733333,0.223686
5,130,0.6,0.6,0.946264,0.946264,4.875197,0.866667,0.223686
6,150,1.0,1.0,2.308884,2.308884,5.017280,1.000000,0.223686
7,100,0.0,0.0,-1.097666,-1.097666,4.615121,0.666667,0.223686
8,105,0.1,0.1,-0.757011,-0.757011,4.663439,0.700000,0.223686